<?xml version="1.0" encoding="UTF-8"?>
<!-- PLACEHOLDER For Logback configuration -->
<configuration>
    <contextName>crewCaller</contextName>

    <jmxConfigurator/>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jbs.logdir}/apps/tng.crewCaller.webapp.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${jbs.logdir}/apps/tng.crewCaller.webapp-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
                <MaxHistory>3</MaxHistory>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="com.uprr.app.uit.common.ui.logging.CustomPatternLayoutEncoder">
            <pattern>[%-5p] [%d{ISO8601}] [%ip_address] [%user_id] [%c] [%m]%n</pattern>
        </encoder>
    </appender>

    <appender name="thirdPartyFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${jbs.logdir}apps/tng.crewCaller-other.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${jbs.logdir}/apps/standard-work-other-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <MaxHistory>7</MaxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
                <MaxHistory>3</MaxHistory>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    </appender>

    <logger name="net.sf.ehcache" additivity="false" level="info">
        <appender-ref ref="thirdPartyFile"/>
    </logger>

    <logger name="org.apache" additivity="false" level="info">
        <appender-ref ref="thirdPartyFile"/>
    </logger>

    <logger name="org.springframework" additivity="false" level="info">
        <appender-ref ref="thirdPartyFile"/>
    </logger>

    <logger name="org.hibernate" additivity="false" level="info">
        <appender-ref ref="thirdPartyFile"/>
    </logger>

    <logger name="com.uprr.app.sw" additivity="false" level="info">
        <appender-ref ref="file"/>
    </logger>

    <logger name="com.uprr" additivity="false" level="info">
        <appender-ref ref="file"/>
    </logger>

    <root>
        <level value="info"/>
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
    </root>
</configuration>
